body{overflow-x:hidden;}

.bg-icerik{
	background-color: #0099cc;
}

.bg-sondakika{
	background-color: #cc0000;
}

.bg-durum{
	background-color: #328484;
}

.bg-eksayfa{

	background-color: #bfbfbf;
}